**Sobre o conjunto de dados**

Este é um conjunto de dados que requer muito pré-processamento com insights EDA incríveis para uma empresa. Um conjunto de dados que consiste em dados de vendas e lucros classificados por segmento de mercado e país/região.

Importando a base de dados

In [1]:
# Importando bibliotecas
import pandas as pd

# Configurandoo pandas para exibir todas as colunas
pd.set_option('display.max_columns', None)

In [2]:
# Importando a base de dados

df = pd.read_csv('Financials.csv', encoding='ISO-8859-1')

display(df)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May,2014

In [3]:
# Analisando os tipos dos dados
empresa = df.info()

print(empresa)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    object
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
 12  Date                   700 non-null    object
 13  Month Number           700 non-null    int64
 14   Month Name            700 non-null    object
 15  Year                   700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB
None

In [4]:
# Renomeando as colunas

df = df.rename(columns={
    'Segment': 'segmento',
    'Country': 'país',
    ' Product ': 'produto',
    ' Discount Band ': 'faixa_de_desconto',
    ' Units Sold ': 'unidades_vendidas',
    ' Manufacturing Price ': 'preço_de_fabricação',
    ' Sale Price ': 'preço_de_venda',
    ' Gross Sales ': 'vendas_brutas',
    ' Discounts ': 'descontos',
    '  Sales ': 'vendas',
    ' COGS ': 'cogs',
    ' Profit ': 'lucro',
    'Date': 'data',
    'Month Number': 'número_do_mês',
    ' Month Name ': 'nome_do_mês',
    'Year': 'ano'
})

In [5]:
# Removendo a coluna numero do mês

display(df.head(20))

,segmento,país,produto,faixa_de_desconto,unidades_vendidas,preço_de_fabricação,preço_de_venda,vendas_brutas,descontos,vendas,cogs,lucro,data,número_do_mês,nome_do_mês,ano
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$5,29,550.00",$-,"$5,29,550.00","$3,93,380.00","$1,36,170.00",01/12/2014,12,December,2014
6,Midmarket,Germany,Montana,None,$921.00,$5.00,$15.00,"$13,815.00",$-,"$13,815.00","$9,210.00","$4,605.00",01/03/2014,3,March,2014
7,Channel Partners,Canada,Montana,None,"$2,518.00",$5.00,$12.00,"$30,216.00",$-,"$30,216.00","$7,554.00","$22,662.00",01/06/2014,6,June,2014
8,Government,France,Montana,None,"$1,899.00",$5.00,$20.00,"$37,980.00",$-,"$37,980.00","$18,990.00","$18,990.00",01/06/2014,6,June,2014
9,Channel Partners,Germany,Montana,None,"$1,545.00",$5.00,$12.00,"$18,540.00",$-,"$18,540.00","$4,635.00","$13,905.00",01/06/2014,6,June,2014
10,Midmarket,Mexico,Montana,None,"$2,470.00",$5.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
11,Enterprise,Canada,Montana,None,"$2,665.50",$5.00,$125.00,"$3,33,187.50",$-,"$3,33,187.50","$3,19,860.00","$13,327.50",01/07/2014,7,July,2014
12,Small Business,Mexico,Montana,None,$958.00,$5.00,$300.00,"$2,87,400.00",$-,"$2,87,400.00","$2,39,500.00","$47,900.00",01/08/2014,8,August,2014
13,Government,Germany,Montana,None,"$2,146.00",$5.00,$7.00,"$15,022.00",$-,"$15,022.00","$10,730.00","$4,292.00",01/09/2014,9,September,2014
14,Enterprise,Canada,Montana,None,$345.00,$5.00,$125.00,"$43,125.00",$-,"$43,125.00","$41,400.00","$1,725.00",01/10/2013,10,October,2013
15,Midmarket,United States of America,Montana,None,$615.00,$5.00,$15.00,"$9,225.00",$-,"$9,225.00","$6,150.00","$3,075.00",01/12/2014,12,December,2014
16,Government,Canada,Paseo,None,$292.00,$10.00,$20.00,"$5,840.00",$-,"$5,840.00","$2,920.00","$2,920.00",01/02/2014,2,February,2014
17,Midmarket,Mexico,Paseo,None,$974.00,$10.00,$15.00,"$14,610.00",$-,"$14,610.00","$9,740.00","$4,870.00",01/02/2014,2,February,2014
18,Channel Partners,Canada,Paseo,None,"$2,518.00",$10.00,$12.00,"$30,216.00",$-,"$30,216.00","$7,554.00","$22,662.00",01/06/2014,6,June,2014
19,Government,Germany,Paseo,None,"$1,006.00",$10.00,$350.00,"$3,52,100.00",$-,"$3,52,100.00","$2,61,560.00","$90,540.00",01/06/2014,6,June,2014

In [6]:
# Removendo caracteres especiais e convertendo o tipo das variavéis qualitativas
variaveis_limpeza = ['unidades_vendidas', 'preço_de_fabricação', 'preço_de_venda', 'vendas_brutas', 'descontos', 'vendas', 'cogs', 'lucro']

for var in variaveis_limpeza:
    df[var] = df[var].replace('[\$,()\-\,]', '', regex=True)
    df[var] = pd.to_numeric(df[var], errors='coerce')

<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
C:\Users\55119\AppData\Local\Temp\ipykernel_61188\1875117290.py:5: SyntaxWarning: invalid escape sequence '\$'
  df[var] = df[var].replace('[\$,()\-\,]', '', regex=True)

In [7]:
# Verificando o tipo dos dados
empresa = df.info()

print(empresa)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   segmento             700 non-null    object
 1   país                 700 non-null    object
 2   produto              700 non-null    object
 3   faixa_de_desconto    700 non-null    object
 4   unidades_vendidas    700 non-null    float64
 5   preço_de_fabricação  700 non-null    float64
 6   preço_de_venda       700 non-null    float64
 7   vendas_brutas        700 non-null    float64
 8   descontos            647 non-null    float64
 9   vendas               700 non-null    float64
 10  cogs                 700 non-null    float64
 11  lucro                695 non-null    float64
 12  data                 700 non-null    object
 13  número_do_mês        700 non-null    int64
 14  nome_do_mês          700 non-null    object
 15  ano                  700 non-null    int64
dtypes: float64(8), int64(2), object(6)
memory usage: 87.6+ KB
None

In [8]:
valores = df.isna().sum()
print(valores)

segmento                0
país                    0
produto                 0
faixa_de_desconto       0
unidades_vendidas       0
preço_de_fabricação     0
preço_de_venda          0
vendas_brutas           0
descontos              53
vendas                  0
cogs                    0
lucro                   5
data                    0
número_do_mês           0
nome_do_mês             0
ano                     0
dtype: int64

In [9]:
# Substituindo os valores Nan por 0
df['descontos'] = df['descontos'].fillna(0)

df['lucro'] = df['lucro'].fillna(0)

In [10]:
display(df)

,segmento,país,produto,faixa_de_desconto,unidades_vendidas,preço_de_fabricação,preço_de_venda,vendas_brutas,descontos,vendas,cogs,lucro,data,número_do_mês,nome_do_mês,ano
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.00,16185.0,16185.00,01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.00,13210.0,13210.00,01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.00,21780.0,10890.00,01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.00,8880.0,4440.00,01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.00,24700.0,12350.00,01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,01/05/2014,5,May,2014

In [11]:
# Convertendo as variavéis data e ano

df['data'] = pd.to_datetime(df['data'])

df['ano'] = pd.to_datetime(df['ano'], format='%Y')

In [12]:
# Removendo a variavél
df = df.drop(columns=['número_do_mês'])

In [13]:
# Visualizando o tipo dos dados

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   segmento             700 non-null    object
 1   país                 700 non-null    object
 2   produto              700 non-null    object
 3   faixa_de_desconto    700 non-null    object
 4   unidades_vendidas    700 non-null    float64
 5   preço_de_fabricação  700 non-null    float64
 6   preço_de_venda       700 non-null    float64
 7   vendas_brutas        700 non-null    float64
 8   descontos            700 non-null    float64
 9   vendas               700 non-null    float64
 10  cogs                 700 non-null    float64
 11  lucro                700 non-null    float64
 12  data                 700 non-null    datetime64[ns]
 13  nome_do_mês          700 non-null    object
 14  ano                  700 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(8), object(5)
memory usage: 82.2+ KB

In [14]:
# Exportando a base de dados tratada
df.to_csv('dados_tratados.csv', index=False)